@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FED835;
  --secondary: #304fff;

  --primary-accent: #e5c230;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}


@keyframes float {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
  }
  50% {
      transform: translateY(-20px) rotate(10deg);
      opacity: 0.8;
  }
  100% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
  }
}

.bg-sustainability-animation {
  position: relative;
  background-color: #edf7ed; /* Light green */
  overflow: hidden;
}
@keyframes fall {
  0% {
      transform: translateY(-100px) translateX(0) rotate(0deg);
      opacity: 1;
  }
  50% {
      transform: translateY(50vh) translateX(-20px) rotate(90deg);
      opacity: 0.8;
  }
  100% {
      transform: translateY(100vh) translateX(-50px) rotate(360deg);
      opacity: 0;
  }
}
@keyframes fall {
  0% {
      transform: translateY(-100px) translateX(0) rotate(0deg);
      opacity: 1;
  }
  50% {
      transform: translateY(50vh) translateX(-20px) rotate(90deg);
      opacity: 0.8;
  }
  100% {
      transform: translateY(100vh) translateX(-50px) rotate(360deg);
      opacity: 0;
  }
}

.falling-leaf {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url('/images/leaf.svg'); /* Replace with the correct path to your leaf image */
  background-size: contain;
  background-repeat: no-repeat;
  animation: fall linear infinite;
}
.falling-leaf-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url('/images/leaf2.svg'); /* Replace with the correct path to your leaf image */
  background-size: contain;
  background-repeat: no-repeat;
  animation: fall linear infinite;
}

.leaf-1 {
  left: 5%;
  animation-duration: 8s;
  animation-delay: -4s; /* Negative delay */
}
.leaf-2 {
  left: 15%;
  animation-duration: 9s;
  animation-delay: -2s;
}
.leaf-3 {
  left: 25%;
  animation-duration: 10s;
  animation-delay: -3s;
}
.leaf-4 {
  left: 35%;
  animation-duration: 11s;
  animation-delay: -5s;
}
.leaf-5 {
  left: 45%;
  animation-duration: 12s;
  animation-delay: -6s;
}
.leaf-6 {
  left: 55%;
  animation-duration: 13s;
  animation-delay: -4s;
}
.leaf-7 {
  left: 65%;
  animation-duration: 14s;
  animation-delay: -7s;
}
.leaf-8 {
  left: 75%;
  animation-duration: 15s;
  animation-delay: -1s;
}
.leaf-9 {
  left: 85%;
  animation-duration: 9s;
  animation-delay: -2s;
}
.leaf-10 {
  left: 95%;
  animation-duration: 12s;
  animation-delay: -5s;
}
.leaf-11 {
  left: 50%;
  animation-duration: 10s;
  animation-delay: -3s;
}
.leaf-12 {
  left: 60%;
  animation-duration: 8s;
  animation-delay: -1s;
}
.leaf-13 {
  left: 70%;
  animation-duration: 13s;
  animation-delay: -6s;
}
.leaf-14 {
  left: 80%;
  animation-duration: 10s;
  animation-delay: -4s;
}
.leaf-15 {
  left: 20%;
  animation-duration: 9s;
  animation-delay: -2s;
}
.leaf-16 {
  left: 30%;
  animation-duration: 11s;
  animation-delay: -3s;
}
.leaf-17 {
  left: 40%;
  animation-duration: 12s;
  animation-delay: -6s;
}
.leaf-18 {
  left: 50%;
  animation-duration: 8s;
  animation-delay: -4s;
}
.leaf-19 {
  left: 10%;
  animation-duration: 14s;
  animation-delay: -7s;
}
.leaf-20 {
  left: 90%;
  animation-duration: 15s;
  animation-delay: -5s;
}
